body{
  background-image: url("background.jpg");
  background-size: cover;
}

.contenitore-madre{
  width: 900px;
  height: 650px;
  background-color: rgba(0, 0, 0, 0.6);
  margin: auto;
  border-radius: 15px;
  box-sizing: border-box;
  margin-top: 30px;
}

header{
  font-size: 22px;
  font-family: arial;
  color: rgba(0, 255, 0, 1);
  text-align: center;
  padding: 4px;
}

#logo{
  width: 190px;
  height: 85px;
  padding: 10px;
  margin-top: 50px;
  }

main{
  width: 80%;
  margin: auto;
  color: white;
}

.riga{
  background-color: rgba(0, 255, 0, 1);
  text-align: center;
  padding: 8px;
}

section > h2{
  display: inline-block;
  margin-bottom: 3px;
}

#freccina:before{
  content: "\21E5";
}

section>div{
  height: 25px;
  border-radius: 6px;
  margin-top: 3px;
}

.carica1{
  width: 40%;
  background-color: orange;
}

.carica2{
  width: 60%;
  background-color: green;
}

.carica3{
  width: 20%;
  background-color: red;
}
